.container-fluid {
    width: 100%;
    box-sizing: border-box;
}
.container {
    margin-left: 7%;
    margin-right: 7%;
}
.line{
    width: 100%;
    border-bottom: 1px solid red;
    position: relative;
    margin-bottom: 2%;
}
.line-box {
    height: 15px;
    width: 15px;
    background-color: red;
    border: 1px solid red;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 0;
    top: -8px;
}

/* phần header  */
.header {

}
/* header top */
.header-top {
    background-color: #313131;
}
#header-top-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-left {

}
.header-top-left h3 {
    color: red;
}
.header-top-right {

}
.header-top-right-list {

}
.header-top-right-item {
    list-style: none;
    display: inline;
    margin: 0 8px;
}
/* header giữa */
.header-center {
    background-color:#414141 ;
    padding: 2% 0;
}
#header-center-container {
    display: flex;
    justify-content: space-between;
}
.header-center-left {
    flex-basis: 23%;
    display: flex;
}
.header-center-right {
    flex-basis: 67%;
    display: flex;
    justify-content: space-between;
}
.search {
    flex-basis: 55%;
    display: flex;
    align-items: center;
}
.search1 {
    flex-basis: 10%;
    background-color: white;
    display: flex;
    padding-top: 1.3%;
    padding-bottom: 1.4%;
}
#search2 {
    margin: auto;
}
.form {
    flex-basis: 70%;
    background-color: white;
}
.form_input {
    background: transparent;
    border: 0;
    outline: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}
.button1 {
    flex-basis: 20%;
    background-color: red;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
button {
    background-color: red;
    border: 0;
    color: white;
}
.contact {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contact-content-list {
    padding-left: 0;
    margin-left: 10%;
    color: white;
}
.contact-content-item {
    list-style: none;
}
.cart {
    flex-basis: 17%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}
.cart-content-list {
    padding-left: 0;
    margin-left: 10%;
    color: white;
}
.cart-content-item {
    list-style: none;
}
/* header dưới */
#header-bottom-container {
    display: flex;
    justify-content: space-between;
}
.header-bottom-left {
    flex-basis: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    position: relative;
}
.header-bottom-left h3 {
    margin: 0;
    color: white;
}
#toggle {
    cursor: pointer;
}
.bosuutap {
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: none;
}
.bosuutap ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
.bosuutap ul li{
    margin: 5% auto;
}
.bosuutap ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bolder;
}
.bosuutap ul li a:hover {
    text-decoration:underline;
    color: red;
}
.header-bottom-right {
    flex-basis: 71%;
}
.header-bottom-right-list {
    display: flex;
    justify-content: space-between;
    
}
.header-bottom-right-item {
    list-style: none;
    position: relative;
}
.header-bottom-right-item a {
    text-decoration: none;
    color: black;
}
.header-bottom-right-item a:hover {
    color: red;
}
.header-bottom-right-item .sub-item {
    position: absolute;
    background-color: aliceblue;
    padding: 15px 0px;
    list-style: none;
    width: 300%;
    display: none;
}
.header-bottom-right-item:hover .sub-item {
    display: block;
}
.sub-item li {
    margin: 10% 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sub-item li:last-child {
    border: none;
}
.sub-item li>a:hover {
    color: red;
}
.has-child::after {
    font: var(--fa-font-solid);
    content: "";
    color: black;
}
/* phần slide */

.slide {
    width: 100%;
}
.slide img {
    width: 100%;
}

/* phần ưu điểm */

#uudiem-container {
    display: flex;
    justify-content: space-around;
}
.uudiem-item {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-start;

}
.uudiem-item-logo {
    flex-basis: 20%;
}
.uudiem-item-logo img {
    width: 100%;
}
.uudiem-item-content {
    flex-basis: 80%;
    margin-left: 1%;
    text-align: justify;
}
@media(max-width:768px) {
    #uudiem-container {
        flex-direction: column;
    }
}

/* phần category */
.category {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}
.category-item {
    flex-basis: 23.7%;
    position: relative;
}
.category-item img {
    width: 100%;
}
.category-item-name {
    position: absolute;
    bottom: 4%;
    left: 30%;
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.3);
}
.category-item-name:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.category-item-name h3 {
    margin: 1%;
    text-align: center;
    color: white;
}
.category-item-name h3:hover {
    color: red;
}

@media(max-width:768px){
    .category {
        flex-direction: column;
    }
}
/* phần sản phẩm hot */

.sanphamhot-nen {
    display: flex;
    margin-bottom: 2%;
    
}
.sanphamhot-left {
    flex-basis: 45%;
    
}
.sanphamhot-right {
    flex-basis: 55%;
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0% 100%);
}
.sanphamhot-right img{
    width: 100%;
}
.container_sphot {
    margin-left: 13.54%;
}
.container_sphot h1 span {
    color: red;
}
.sanphamhot-slide1 p span {
    color: red;
}
.sanphamhot-slide1 a {
    text-decoration: none;
    color: red;
}
.sanphamhot-slide1 a:hover {
    color: blue;
}
.sanphamhot-controller {
    margin-top: 3%;
}

#sanphamhot-controls i {
    color: white;
    font-size: 1rem;
}
.sanphamhot-previous, .sanphamhot-next {
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 3px solid white;
    background-color: black;
    box-shadow: 0 0 5px #bbb;
}
.sanphamhot-previous:hover, .sanphamhot-next:hover {
    border: 3px solid gray;
}
.sanphamhot-slide {
    width: 100%;
}
.sanphamhot-slide img {
    width: 100%;
}
@media(max-width:768px){
    .sanphamhot-nen {
        flex-direction: column;
    }
    .sanphamhot-right {
        clip-path: none;
    }
    .line {
        width: 100%;
    }
}


/* phần thương hiệu */
.thuonghieu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.thuonghieu-item {
    flex-basis: 18.7%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.thuonghieu-item:hover{
    border: 1px solid rgba(255, 0, 0, 0.7);
}

.thuonghieu-item img {
    width: 50%;
    margin: 6% auto;
}

@media(max-width:768px){
    .thuonghieu {
        flex-direction: column;
    }
    .thuonghieu-item {
        margin-top: 2%;
    }
}

/* sản phẩm mới */
.sanphammoi {
    margin: 3% 0;
}
.sanphammoi-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sanphammoi-controls i {
    color: white;
    font-size: 1rem;
}
.sanphammoi-previous, .sanphammoi-next {
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 3px solid white;
    background-color: black;
    box-shadow: 0 0 5px #bbb;
}
.sanphammoi-previous:hover, .sanphammoi-next:hover {
    border: 3px solid gray;
}
.sanphammoi-slide-box {
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
}
.sanphammoi-slide-box img {
    width: 100%;
    
}
.sanphammoi-slide-box:hover {
    border: 1px solid rgb(247, 2, 2);
}
.sanphammoi-line1 {
    border-bottom: 1px solid red;
    width: 50%;
    margin: 10% auto;
}
.sanphammoi-content {
    text-align: center;
}
.sanphammoi-content {
    color: rgba(0, 0, 0, 0.5);
}
.sanphammoi-slide-box:hover .sanphammoi-content h2 {
    color: red;
}
.sanphammoi-content h3{
    color: red;
    font-weight:bold;
}
.sanphammoi-new {
    background-color: #f58220;
    position: absolute;
    top: 2%;
    right: 0;
    color: white;
    border-radius: 20%;
    margin: auto;
    padding-left: 1%;
    padding-right: 5%;
}
.sanphammoi-sale {
    position: absolute;
    top: 2%;
    left: 30%;
    border: 1px solid red;
    border-radius: 20%;
    background-color: red;
    color: white;
}
.giacu {
    position: absolute;
    left: 31%;
    bottom: 0;
    text-decoration:line-through
}
/* phần sản phẩm bán chạy */

.banchay {
    margin-bottom: 2%;
}

.banchay-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banchay-controls i {
    color: white;
    font-size: 1rem;
}
.banchay-previous, .banchay-next {
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 3px solid white;
    background-color: black;
    box-shadow: 0 0 5px #bbb;
}
.banchay-previous:hover, .banchay-next:hover {
    border: 3px solid gray;
}
.banchay-slide-box {
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
}
.banchay-slide-box img {
    width: 100%;
    
}
.banchay-slide-box:hover {
    border: 1px solid rgb(247, 2, 2);
}
.banchay-line1 {
    border-bottom: 1px solid red;
    width: 50%;
    margin: 10% auto;
}
.banchay-content {
    text-align: center;
}
.banchay-content {
    color: rgba(0, 0, 0, 0.5);
}
.banchay-slide-box:hover .banchay-content h2 {
    color: red;
}
.banchay-content h3{
    color: red;
    font-weight:bold;
}
.banchay-new {
    background-color: #f58220;
    position: absolute;
    top: 2%;
    right: 0;
    color: white;
    border-radius: 20%;
    margin: auto;
    padding-left: 1%;
    padding-right: 5%;
}
.banchay-sale {
    position: absolute;
    top: 2%;
    left: 30%;
    border: 1px solid red;
    border-radius: 20%;
    background-color: red;
    color: white;
}
.giacu {
    position: absolute;
    left: 31%;
    bottom: 0;
    text-decoration:line-through
}
/* phần phong cách */
.phongcach-nen {
    display: flex;
    margin-bottom: 2%;
    
}
.phongcach-left {
    flex-basis: 45%;
    
}
.container_phongcach {
    margin-left: 13.54%;
    margin-top: 10%;
}
.phongcach_content{
    margin-top: 10%;
}
#ok1{
    color: red;
}
.phongcach-right {
    flex-basis: 55%;
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0% 100%);
    position: relative;
}
#img{
    width: 100%;
}
#img img{
    width: 100%;
}
.phongcach-right-box {
    position: absolute;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1%;
    border-radius: 15px;
    bottom: 3%;
    left: 45%;
}
.phongcach-right-box a{
    text-decoration: none;
    color: white;
}
.phongcach-right-box:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
.phongcach-right-box a:hover{
    color: red;
}

@media(max-width:768px){
    .phongcach-nen {
        flex-direction: column;
    }
    .phongcach-right {
        clip-path: none;
    }
    .line {
        width: 100%;
    }
}
/* phần tin tức sự kiện */
.tintuc {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 2%;
}
.tintuc-left {
    flex-basis: 65%;
}
.tintuc-left-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tintuc-left-top a {
    text-decoration: none;
    color: #f58220;
}
.tintuc-left-top a:hover{
    color: rgba(0, 0, 0, 0.5);
}
.tintuc-left-line {
    width: 100%;
    border-bottom: 1px solid red;
    position: relative;
    margin-bottom: 2%;
}
.tintuc-left-line-box {
    height: 15px;
    width: 15px;
    background-color: red;
    border: 1px solid red;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 0;
    top: -8px;
}
.tintuc-left-main {
    display: flex;
    justify-content: space-between;
}
.tintuc-left-main-left {
    flex-basis: 47%;
}
.tintuc-left-main-left a{
    text-decoration: none;
    color: black;
}
.tintuc-left-main-left a:hover {
    color: red;
}
.tintuc-left-main-left img {
    width: 90%;
    margin-left: 10%;
}
.tintuc-left-main-right {
    flex-basis: 47%;
}
.tintuc-left-main-right-list {
 margin-top: 4%;
 padding-left: 0;
}
.tintuc-left-main-right-list-item {
    list-style: none;
    margin-bottom: 8%;
}
.tintuc-left-main-right-list-item h4 {
    margin: 1% auto;
}
.tintuc-left-main-right-list-item a{
    text-decoration: none;
    color: black;
}
.tintuc-left-main-right-list-item a:hover{
    color: red;
}
.tintuc-right {
    flex-basis: 32%;
    margin-top: 0;
}
.tintuc span {
    color: rgba(0, 0, 0, 0.3);
}
.tintuc-right-main-right-list {
    margin-top: 8%;
    padding-left: 0;
}
.tintuc-right-main-right-list-item {
    list-style: none;
    margin-bottom: 8%;
}
.tintuc-right-main-right-list-item h4 {
    margin: 1% auto;
}
.tintuc-right-main-right-list-item a{
    text-decoration: none;
    color: black;
}
.tintuc-right-main-right-list-item a:hover{
    color: red;
}
@media(max-width:768px){
    .tintuc {
        flex-direction: column;
    }
    .tintuc-left-main {
        flex-direction: column;
    }
}

/* phần đăng kí nhận tin */
.dangky {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.dangky-left {
    flex-basis: 45%;
    display: flex;
    align-items: center;
}
.dangky-left-content {
    margin-left: 4%;
}
.dangky-left-content h4 {
    margin: 0;
}
.dangky-left img {
    width: 10%;
}
.dangky-right {
    flex-basis: 50%;
}
.form {
    width: 100%;
}
.form_input1 {
    width: 80%;
    background: transparent;
    border: 0;
    outline: 0;
}
.form button {
    width: 15%;
    color: #f58220;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
@media(max-width:768px){
    .dangky{
        flex-direction: column;
    }
}
/* phần footer */
.footer {
    background-color: #414141;
    color: white;
    text-align: justify;
    padding-bottom: 2%;
}
.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-top-item {
    flex-basis: 22%;
}
.footer-top-item-list {
    padding-left: 0;
}
.footer-top-item-list-item {
    list-style: none;
    padding-left: 0;
    margin-bottom: 5%;
}
.footer-line {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    margin: 2% auto;
}
.footer-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-center-left {
    flex-basis: 30.7%;
}
.footer-center-left-box {
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-bottom: 2%;
}
.footer-center-left-box img {
    width: 60%;
    margin: 8% auto;
}
.footer-center-main {
    flex-basis: 39%;

}
.footer-center-right {
    flex-basis: 22.3%;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom span {
    flex-basis: 64%;
}
.payment {
    flex-basis: 31%;
    display: flex;
}
.payment img {
    width: 50%;
}
@media(max-width:768px){
    .footer-top{
        flex-direction: column;
    }
    .footer-center{
        flex-direction: column;
    }
}